<!Doctype html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'todoList/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'todoList/css/site.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="{% url 'todo:home' %}">To Do List</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand text-warning" href="{% url 'todo:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand text-warning" href="{% url 'todo:create' %}">Create</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="Content" class="container">
    {% block content %}
        <h1>Main content please override</h1>
    {% endblock %}
</div>


<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3 bg-dark text-warning">
        © Mohamed Eldefrawy 2022 Copyright:
        <a class="text-dark" target="_blank"
           href="https://www.linkedin.com/in/mohamedeldefrawy/">Linkedin</a>
    </div>
</footer>
</body>
<script src="{% static 'todoList/js/bootstrap.min.js' %}"></script>
</html>